<footer class="sitefooter sitefooter-article container-fluid">
    <div class="row row-middle-xxs">
        <div class="col-xxs-shrink"><img src="https://avatars1.githubusercontent.com/u/7560415?v=3&amp;s=48" width="24" alt="IDT design logo"></div>
        <div class="col-xxs-shrink">© 2018 IDT Corp</div>
        {% if site.github_username %}
        <div class="col-xxs-shrink"><a href="https://github.com/{{ site.github_username }}">IDT design on GitHub</a></div>
        {% endif %}
    </div>
</footer>