<header class="blog-article-header" role="banner">
    <nav class="breadcrumbs row">
        <a class="breadcrumbs-node col-xxs-shrink" href="/">IDT&ensp;·&ensp;design</a>
        <span class="breadcrumbs-separator col-xxs-shrink">/</span>
        <span class="breadcrumbs-node col-xxs-shrink">{{ site.title }}</span>

        {% if site.github_link %}
        <div class="col-xxs-shrink space-auto-left-xs">
            <a class="github-button" href="{{ site.github_link }}" data-style="mega" aria-label="Open on GitHub">Open on GitHub</a>
        </div>
        {% endif %}
    </nav>
</header>